<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Основы Vue.js</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="node_modules/shower-ribbon/styles/styles.css"
    />
    <style>
      .shower {
        --slide-ratio: calc(16 / 9);
      }
    </style>
  </head>
  <body class="shower list">
    <header class="caption">
      <h1>Основы Vue.js</h1>
      <p>Epic Skills, 2019</p>
    </header>

    <section class="slide clear" id="cover">
      <!-- <h2>Vue</h2> -->
      <img
        class="cover"
        src="pictures/vue_img.png"
        alt="vue logo on black backgroung"
      />

      <style>
        #cover h2 {
          margin: 30px 0 0;
          color: white;
          text-align: center;
          font-size: 150px;
          font-weight: bold;
          left: 50%;
          bottom: 20px;
          position: absolute;
        }

        #cover p {
          margin: 10px 0 0;
          text-align: center;
          color: white;
          font-style: italic;
          font-size: 20px;
        }

        #cover p a {
          color: white;
        }

        #cover {
          background-color: #000;
        }
      </style>
    </section>

    <section class="slide">
      <h2>Привет!</h2>
      <p>Меня зовут, Сергей</p>
      <p>Я разработчик в компании Func.</p>
    </section>

    <section class="slide">
      <h2>План занятия</h2>

      <ul>
        <li>Кратко о vue.js</li>
        <li>Требования и окружение</li>
        <li>Изучим основы</li>
        <li>Соберем небольшое приложение</li>

        <!--<li>Установим CLI, и немного поговорим о нем</li> -->
        <!--<li>Создадим проект, настроим и изучим структуру</li>
            <li>Немного покодим</li> -->
      </ul>
    </section>

    <section class="slide">
      <h2>Кратко о Vue.js</h2>
      <p>Vue JS JavaScript-фреймворк разработанный Эваном Ю. в 2013 году</p>
      <p>Поддержка браузерами IE9+</p>
      <p>
        Очень быстрый.
        <a href="https://stefankrause.net/js-frameworks-benchmark8/table.html"
          >ссылка на бенчмарк</a
        >
      </p>
      <p>Очень компактный. 77,5 КБ версия для разработки</p>
      <p>
        Пытается реализовать паттерн
        <a href="https://ru.wikipedia.org/wiki/Model-View-ViewModel">MVVM</a>
      </p>
    </section>

    <section class="slide">
      <h2>Инструменты</h2>
      <ul>
        <li>Node.js (версии 8.9 или выше)</li>
        <li>Npm или Yarn</li>
        <li><a href="https://vuejs.org/">Vue.js</a></li>
        <li><a href="https://cli.vuejs.org/">Vue CLI 3</a></li>
        <li>
          <a href="https://github.com/vuejs/vue-devtools#vue-devtools"
            >Vue Devtools</a
          >
        </li>
      </ul>
    </section>

    <!--<section class="slide">
        <p>Установим Vue CLI 3</p>
        <p class="comment">npm install -g @vue/cli</p>
        <p>Команда, чтобы проверить версию</p>
        <p class="comment">vue --version</p>
        <p>Заодно клонируем и установим тестовый проект</p>
        <a href="https://github.com/SGKuksov/bikes">https://github.com/SGKuksov/bikes</a>
    </section>-->

    <section class="slide">
      <h2>Vue CLI 3</h2>
      <ul>
        <li>
          @vue/cli — это npm-пакет, предоставляющий команду vue в терминале
        </li>
        <li>
          @vue/cli-service — это зависимость для разработки построенная на
          основе webpack
        </li>
        <li>
          Плагины для CLI:
          <ul>
            <li>транспиляторы, например Babel / TypeScript</li>
            <li>линтеры ESLint</li>
            <li>модули для тестирования</li>
          </ul>
        </li>
      </ul>
    </section>

    <!--<section class="slide">
        <h2>Создадим проект</h2>
        <p>Перейдем в папку с проектами и в терминале наберем для создания нового проекта</p>
        <p class="comment">vue create name-project</p>
        <p>в нашем случае</p>
        <p class="comment">vue create bikes</p>

        <style>
          .comment {
            background-color: #eee;
            padding-left: 10px;
            padding-right: 10px;
          }
        </style>
    </section>-->

    <!--<section class="slide">
        <p>Выберем опции:</p>
        <ol>
          <li class="comment">Manually select features </li>
          <li class="comment">Babel, Router, Vuex, CSS Pre-processors</li>
          <li class="comment">Use history mode for router? Y</li>
          <li class="comment">Sass/SCSS</li>
          <li class="comment">In package.json</li>
          <li class="comment">Save this as a preset for future projects? N</li>
          <li class="comment">Use NPM</li>
        </ol>
    </section>-->

    <!--<section class="slide">
        <h2>Немного о реактивности</h2>
        <p>Пойдем в codepen и вызовем еще один "Hello world!"</p>
    </section>-->

    <section class="slide">
      <h2>Директивы</h2>
      <ol>
        <li>v-bind</li>
        <li>v-if/v-show</li>
        <li>v-for</li>
        <li>v-on</li>
        <li>v-model</li>
        <li>
          за другими так же идем в
          <a href="https://ru.vuejs.org/v2/api/">документацию</a>
        </li>
      </ol>
    </section>

    <section class="slide">
      <h2>v-bind</h2>
      <p>
        Динамически связывает атрибуты тега или входной параметр компонента с
        выражением.
      </p>

      <pre>
        <code>&lt;li v-bind:class="{'active': isActive}"&gt;</code>
        <code>  &lt;!-- какой-то контент --&gt;</code>
        <code>&lt;/li&gt;</code>
      </pre>
      <p>
        алиас ":", например :class, :style или :src
      </p>
    </section>

    <section class="slide">
      <h2>v-if</h2>
      <p>
        Осуществляет отрисовку элемента, только если передаваемое выражение
        истинно.
      </p>

      <pre>
        <code>&lt;div v-if="isVisible"&gt;</code>
        <code>  &lt;!-- какой-то контент --&gt;</code>
        <code>&lt;/div&gt;</code>
      </pre>
    </section>

    <section class="slide">
      <h2>v-show</h2>
      <p>
        Переключает CSS-свойство display элемента, в зависимости от того,
        истинно ли указанное выражение.
      </p>

      <pre>
        <code>&lt;div v-show="isVisible"&gt;</code>
        <code>  &lt;!-- какой-то контент --&gt;</code>
        <code>&lt;/div&gt;</code>
      </pre>
    </section>

    <section class="slide">
      <h2>v-for</h2>
      <p>
        Многократно отрисовывает элемент или блок шаблона, основываясь на
        переданных данных.
      </p>

      <pre>
        <code>&lt;div v-for="item in items" :key="item.id"&gt;</code>
        <code>  {{ item.text }}</code>
        <code>&lt;/div&gt;</code>
      </pre>
    </section>

    <section class="slide">
      <h2>v-on</h2>
      <p>
        Прикрепляет к элементу подписчик события. Тип события указывается в
        параметре.
      </p>

      <pre>
        <code>&lt;button v-on:click="doThis"&gt;</code>
        <code>  Кнопка</code>
        <code>&lt;/button&gt;</code>
      </pre>
      <p>
        алиас "@", например @click, @enter
      </p>
    </section>

    <section class="slide">
      <h2>v-model</h2>
      <p>
        Двусторонним образом связывает элемент ввода данных или компонент с
        переменной.
      </p>

      <pre>
        <code>&lt;input v-model="message" placeholder="отредактируй меня"&gt;</code>
        <code>&lt;p&gt;Введённое сообщение: {{ message }}&lt;/p&gt;</code>
      </pre>
    </section>

    <section class="slide">
      <h2>Данные и методы</h2>
      <ol>
        <li>data</li>
        <li>methods</li>
        <li>computed</li>
        <li>filters</li>
        <li>
          за другими идем в
          <a href="https://ru.vuejs.org/v2/api/">документацию</a>
        </li>
      </ol>
    </section>

    <section class="slide">
      <h2>Хуки жизненного цикла</h2>

      <ol>
        <li>created</li>
        <li>mounted</li>
        <li>updated</li>
        <li>destroy</li>
        <li>
          за другими идем в
          <a href="https://ru.vuejs.org/v2/api/">документацию</a>
          <a href="https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram" >смотрим на диаграмму</a>
        </li>
      </ol>
    </section>

    <!--<section class="slide">
      <h2>Компоненты</h2>
      <p>
        Основы компонентов
        <a href="https://ru.vuejs.org/v2/guide/components.html">ссылка</a>
      </p>
      <pre>
        <code>Vue.component('my-component-name', {</code>
        <code>  // ... опции ...</code>
        <code>})</code>
      </pre>

      <p>
        Регистрация компонентов
        <a href="https://ru.vuejs.org/v2/guide/components-registration.html"
          >ссылка</a
        >
      </p>
    </section>-->

    <section class="slide">
      <h2>Организация компонентов</h2>

      <img class="components" src="pictures/components.png" alt="components" />
      <style>
        .components {
          width: 100%;
        }
      </style>
    </section>

    <section class="slide">
      <h2>Однофайловые компоненты</h2>

      <pre>
        <code>&lt;template&gt; &lt;!-- разметка  --&gt;&lt;/template&gt; </code>
        <code>&lt;script&gt; //  скрипт     &lt;/script&gt; </code>
        <code>&lt;style&gt;  //  стили      &lt;/style&gt; </code>
      </pre>
    </section>

    <section class="slide">
      <h2>Передача параметров</h2>

      <pre>
          <p>Получаем данные в компоненте</p>
          <code>props: {</code>
          <code>  propA: Object,</code>
          <code>}</code>

          <p>Передаем данные в компонент</p>
          <code>&lt;my-elem :prop-a="data" /&gt;</code>
        </pre>
      <img class="props" src="pictures/props.png" alt="components" />

      <style>
        .props {
          height: 300px;
          position: absolute;
          right: 70px;
          top: 150px;
        }
      </style>
    </section>

    <section class="slide">
      <h2>Подключение внешних библиотек</h2>

      <p>Выведем в наше приложение карточки с товарами</p>
      <ol>
        <li>
          Для работы с api подключим библиотеку
          <a href="https://github.com/axios/axios">axios</a>
        </li>
        <li>Вынесем ее в vendor</li>
      </ol>
    </section>

    <section class="slide vuex-img clear" id="picture">
      <img class="cover" src="pictures/vuex_img.png" alt="vuex" />

      <style>
        .vuex-img {
          background-color: #252b2f;
        }
      </style>
    </section>

    <section class="slide">
      <h2>Vuex</h2>
      <p>
        <a
          href="https://ru.wikipedia.org/wiki/Flux-%D0%B0%D1%80%D1%85%D0%B8%D1%82%D0%B5%D0%BA%D1%82%D1%83%D1%80%D0%B0"
          >FLUX-архитектура.</a
        >
        Особенностью Flux является односторонняя направленность передачи данных
        между компонентами
      </p>

      <p>Ссылка на <a href="https://vuex.vuejs.org/">документацию</a></p>
    </section>

    <section class="slide" id="picture">
      <img class="cover" src="pictures/vuex.png" alt="vuex" />
    </section>

    <section class="slide" id="picture">
      <ol>
        <li>state</li>
        <li>actions</li>
        <li>mutations</li>
        <li>getters</li>
      </ol>
    </section>

    <section class="slide router-img clear" id="picture">
      <figure>
        <img class="cover" src="pictures/vue_router.png" alt="Vue Router" />
      </figure>

      <style>
        .router-img {
          background-color: #1a1c24;
        }
      </style>
    </section>

    <section class="slide">
      <h2>Vue Router</h2>

      <pre>
          <p>Компонент отображает компонент соответствующий маршруту</p>
          <code>&lt;router-view&gt;&lt;/router-view&gt;</code>

          <p>Компонент предназначенный для навигации пользователя</p>
          <code>&lt;router-link to="/foo"&gt;&lt;/router-link&gt;</code>
        </pre>

      <p>Ссылка на <a href="https://router.vuejs.org/">документацию</a></p>
    </section>

    <div class="progress"></div>

    <script src="node_modules/shower-core/shower.min.js"></script>
  </body>
</html>
